.main{
    margin-top: 10%;
}
.mainClick{
    margin-top: 2%;
}
body{
    background-color: #09235c;
}
.fix{
    border:2px solid #f09b12;
    border-radius: 5px;
    background-color:#fca311 ;
    padding: 10px;
}
h1,h4{
    color:#eca1a1;
}
